
<a routerLink="/pages/{{siteId}}">Все страицы Сайта</a>
<button (click)="globalServise.modal = {create:'shablon', site: siteId}">Создать шаблон</button>
<hr>
<div class="container">
    <div class="fex_table">
      <div class="div">Id</div>
      <div class="div">Name</div>
      <div class="div">Filds</div>
      <div class="div">Actions</div>
    </div>
      <div *ngFor="let shablon of shablons; let id = index;" class="fex_table">
          <div class="div">{{shablon.id}}</div>
          <div class="div"><a routerLink="/shablon/{{shablon.id}}">{{shablon.name}}</a></div>
          <div class="div">
              <div *ngFor="let fild of shablon.filds;">
                  {{fild.name}} [{{fild.type}}]
              </div>
          </div>
          <div class="div">
            <button (click)="globalServise.modal = {create:'fild', shablon: shablon.id}">Создать Поле</button>
          </div>
        </div>
  </div>