<button (click)="globalServise.modal = {create:'page', shablon: shablonId}">

  Создать Страницу</button>
<hr>
<div class="container">
  <table class="main_table">
    <tr>
      <td><div>Status</div></td>
      <td><div>ID</div></td>
      <td><div class="resize">Name</div></td>
      <td><div class="resize">URL</div></td>
      <td *ngFor="let fild of filds; let id = index;"><div class="resize">[{{fild.id}}]{{fild.name}}</div></td>
      <td><div>Delete</div></td>
    </tr>
    <tr *ngFor="let page of pages; let id = index;">
        <td><span> <div class="pageStatus" [ngClass]="{
          'pageStatusActive':page.sts == 2}" (click)="changeStatus(page)"></div></span></td>
        <td><span>{{page.id}}</span></td>
        <td><span class="contenteditable" #filditem (focusout)="updatePageFild(filditem, page.id, 'name')" (focus)="valbuffer = filditem.innerText " contenteditable="true">{{page.name}}</span></td>
        <td><span class="contenteditable" #filditem (focusout)="updatePageFild(filditem, page.id, 'url')" (focus)="valbuffer = filditem.innerText " contenteditable="true">{{page.url}}</span></td>
  
        <td  *ngFor="let fild of filds; let id = index;">
            <span class="contenteditable" #filditem (focusout)="updateFild(filditem, fild, page.vals)" (focus)="valbuffer = filditem.innerText " contenteditable="true"> {{ fildValue(fild,page.vals) }} </span>
        </td>
        <td><button (click)="delete(page)">Delete</button></td>
    </tr>

  </table>

</div>