<app-navbar></app-navbar>

<div class="container">
  <div class="fex_table">
    <div class="div">
      <span>page</span>
    </div>
    <div class="div" *ngFor="let fild of filds; let id = index;">
      <span>{{fild.name}}</span>
    </div>
  </div>
  <div *ngFor="let page of pages; let id = index;" class="fex_table">
    <div class="div">{{page.name}}</div>

    <div class="div" *ngFor="let fild of filds; let id = index;">
      <span>{{page.vals[id]?.val}}</span>
    </div>



  </div>
</div>