.div:nth-child(2) {
    width: 100px;
    text-align: center; 
}

.pageStatus {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background: #d83535;
    cursor: pointer;
}

.pageStatusActive {
    background: #00a041;
}

.main_table td:first-child {
   width:  50px;
}

.modal {
    position: fixed;
    height: 500px;
    min-height: 500px;
}

.dobule_menu {
    display: block;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 40px;
    background: #eee;
    border-bottom: 1px solid #777;
}

.selectFild {
    cursor: pointer;
}

.selectItem {
    margin: 4px;
    padding: 4px;
    background: #eee;
    cursor: pointer;
    transition: 0.3s;
}

.selectItem:hover {
    background: #777;
    transition: 0.3s;
}

.modal_content {
    overflow: auto;
    height: 430px;
}