<div class="dobule_menu">
  <button (click)="globalServise.modal = {create:'page', shablon: shablonId}">
    Создать Страницу</button>
</div>

<div class="container">
  <table class="main_table">
    <tr>
      <td>
        <div>Status</div>
      </td>
      <td>
        <div>ID</div>
      </td>
      <td>
        <div class="resize">Name</div>
      </td>
      <td class="resize">
        <div>URL</div>
      </td>
      <td *ngFor="let fild of filds; let id = index;">
        <div class="resize">[{{fild.id}}]{{fild.name}}</div>
      </td>
      <td>
        <div>Delete</div>
      </td>
    </tr>
    <tr *ngFor="let page of pages; let id = index;">
      <td>
        <span>
          <div class="pageStatus" [ngClass]="{
          'pageStatusActive':page.sts == 2}" (click)="changeStatus(page)"></div>
        </span>
      </td>
      <td>
        <span>{{page.id}}</span>
      </td>
      <td>
        <span class="contenteditable" #filditem (focusout)="updatePageFild(filditem, page.id, 'name')" (focus)="valbuffer = filditem.innerText "
          contenteditable="true">{{page.name}}</span>
      </td>
      <td>
        <span class="contenteditable" #filditem (focusout)="updatePageFild(filditem, page.id, 'url')" (focus)="valbuffer = filditem.innerText "
          contenteditable="true">{{page.url}}</span>
      </td>

      <td *ngFor="let fild of filds; let id = index;">

        <span *ngIf="fild.type == 'select'"><span class="contenteditable selectFild" (click)="changeParent(fild,page.vals);"> {{ pageName(fild,page.vals) }}</span> </span>

        <span *ngIf="fild.type == 'text'">
          <div class="edit_btn" (click)="globalServise.textEditor.show = true; globalServise.textEditor.key = fildIdValue(fild,page.vals); globalServise.textEditor.toEdit = fildTextValue(fild,page.vals);">Open Editor</div>
        </span>

        <span *ngIf="fild.type == 'string'" class="contenteditable" #filditem (focusout)="updateFild(filditem, fild, page.vals, page.id)"
          (focus)="valbuffer = filditem.innerText " contenteditable="true"> {{ fildValue(fild,page.vals) }} </span>

        <span *ngIf="fild.type == 'code'">
          <div class="edit_btn" (click)="openEditor(fild, page)">Open Editor</div> {{ fildTextValueLenght(fild,page.vals) }} </span>
        <!-- fildValueCode(fild,page.vals) -->
      </td>





      <td>
        <button (click)="delete(page)">Delete</button>
      </td>
    </tr>

  </table>

</div>


<div class="modal" *ngIf="textEditor">
  <div class="txtEditor" [(innerHTML)]="textEditor.toEdit" #textForm contenteditable></div>

  <div class="modal_footer">
    <button (click)="sendText(textForm);">OK</button>
  </div>

</div>
<div class="shadow" *ngIf="textEditor"></div>


<div class="modal" *ngIf="selectEditor.show">
  <div class="modal_content">
      <div class="selectItem" *ngFor="let listItem of selectEditorArray">
          <div (click)="updateFildSelect(listItem.id,selectEditor.fild)">{{listItem.name}}</div>
        </div>   
  </div>
  <div class="modal_footer">
      <button (click)="selectEditor.show = false">Close</button>
    </div>   

</div>
<div class="shadow" *ngIf="selectEditor.show"></div>