<div class="modal">
  <div class="modal_header">
    <button (click)="cleanText(textForm)">Clean</button>
  </div>
  <div class="txtEditor" [(innerHTML)]="globalServise.textEditor.toEdit" #textForm contenteditable></div>

  <div class="modal_footer">
      <button *ngIf="!this.globalServise.textEditor.thisEdit" (click)="sendText(textForm);">OK</button>
      <button *ngIf="this.globalServise.textEditor.thisEdit" (click)="closeWindow();">Close</button>
      <button *ngIf="this.globalServise.textEditor.thisEdit" (click)="SaveText(textForm);">Save</button>
       </div>

</div>
<div class="shadow"></div>