body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: block;
    position: fixed;
    top: 0px;
    width: 100%;
    background: #eee;
    height: 40px;
    padding: 8px;
}
.container {
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    width: 100%;

}

.fex_table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 100%;
    background: #d2ddde;
    transition: 0.2s;
}

.fex_table:nth-child(2n) {
    background: #eee;
}

.fex_table:hover {
    /* background: #dcecc6; */
    transition: 0.2s;
}

.div {
    padding: 8px;
    border: 1px solid #777;
    border-bottom: 0px;
    width: 100%;
    text-align: left;
}

.div:first-child {
   width: 240px;
}

.btn_in_table {
    cursor: pointer;
    font-weight: 600;
    color: #2b2ed6;
    padding: 5px 0px;
}



body {
    background: #eee;
}


.main_table {
    width: 100%;
    border: 1px solid #777;
    margin: 10px 0px;
    padding: 0px;
    margin-top: 40px;
}
.main_table td {
    border: 1px solid #777;
}


.main_table tr:nth-child(2n) td {
    background: #cad8cb;
}


.contenteditable {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 24px;
}


.resize {
    resize: horizontal;
    overflow: auto;
}


.edit_btn {
    cursor: pointer;
    background: #efefef;
    border: 1px solid #777;
    padding: 4px;
    display: inline-block;
}


.modal_editor {
    position: fixed;
    width: 500px;
    height: 400px;
    background: #fff;
    margin: auto;
    z-index: 10;


}

.modal_editor:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    left: 0px;
    top: 0px;

}

.hide_textarea {
    display: none;
}

.close_btn {
    position: absolute;
    right: 10px;
    top:  10px;
}
.modal{
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    display: inline-block;
    width: 640px;
    min-height: 600px;
    border-radius: 12px;
    box-shadow: 0px 0px 2px #000;
    background: #fff;
    color: #000;
    margin: auto;
    padding: 8px;
    z-index: 2;
    padding-bottom: 60px;
}

.shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    background: hsla(0, 0%, 0%, 0.67);
    display: block;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.modal_input {
    width: 100%;
    margin: 4px;
}

.modal_input input {
    width: 500px;
    display: inline-block;
    padding: 4px;
    height: 24px;
    margin: auto;


}

select {
    width: 513px;
    height: 34px;
}

.lable {
    display: inline-block;
    width: 110px;
}

.modal_footer {
    position: absolute;
    bottom: 10px;
    float: right;
    width: 100%;
    display: block;
    text-align: right;
    padding: 10px 3px;
    margin: 10px 20px;
    right: 0px;

}


button {
    cursor: pointer;
}

.txtEditor {
    background: #eee;
    min-height: 480px;
    padding: 6px;
    margin-bottom: 40px;
}